* {
    margin: 0;
    padding: 0;
    font-family: 'inter';
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1280px;
    margin: 0 auto;
}

hr {
    color: #DADADA;
}

/* Let's help section star */
.lets-help-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: url('/images/donation5.jpg'), linear-gradient(#999696, black);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;

    height: 670px;
}

.lets-help-content {}

.lets-help-title {
    color: white;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 20px;
}

.description-white {
    color: white;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.description-black {
    color: #707070;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.btn-primary {
    background-color: #FF5959;
    color: #FFFFFF;
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
}

/* Donate today section */
.donte-today-containter {}

.donate-title {
    font-weight: 700;
    font-size: 45px;
    margin-top: 130px;
    margin-bottom: 20px;

}

.donate-amount {
    margin-top: 50px;
}

.donate-amount ul {
    list-style: none;
    display: flex;
    justify-content: space-around;

}

.donate-amount ul li {
    width: 135px;
    height: 123px;
    background-color: #FAFAFA;
    font-weight: 700;
    font-size: 30px;
    color: #707070;
}

.other-amount {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    color: #B3B3B3;
    margin-top: 50px;
    margin-bottom: 10px;
}

.donte-today-containter button {
    margin-top: 30px;
}

/* Donate Our Plan */
.donate-plan-container {}

.donate-category-content {
    display: flex;
    align-items: left;
    gap: 24px;

}

.donate-category-food {
    margin-left: 150px;
    padding: 60px 20px 54px;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    align-items: left;
}

.donate-category-shelter {
    padding: 60px 20px 54px;
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}

.donate-category-child {
    margin-right: 150px;
    padding: 60px 20px 54px;
    background: #FFF4D6;
    border-radius: 5px;
}

/* Donation Dependency */
.dependency-container {
    display: flex;
    margin-top: 130px;
    margin-left: 150px;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.dependency-content {
    width: 490px;
}

.h2-title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}

.dependency-container p {
    margin-top: 20px;

}

.dependency-container button {
    margin-top: 30px;
}

.dependency-container img {
    width: 456px;
    height: 477px;
    margin-left: 83px;
    margin-right: 250px;
}

/* They need us 

.h2-title {
    font-weight: 700;
    font-size: 45px;
}

.need-us-container p {
    margin-left: 94px;
    margin-right: 250px;
}

.need-us--container button {
    margin-left: 94px;
    margin-right: 250px;
}


*/
.need-us-container {
    display: flex;
    margin-top: 130px;

    justify-content: center;
    align-items: center;
    text-align: left;
}

.need-us-content {
    margin-left: 84px;
    width: 490px;
}

.need-us-container img {
    width: 456px;
    height: 477px;

}

.need-us-container p {
    margin-top: 20px;

}

.need-us-container button {
    margin-top: 30px;
}

/* Update / Subcription Section */
.update-container {
    margin-top: 130px;

}

.subcrib-container {
    width: 810px;
    height: 200px;
    background-color: #FFF4D6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.humble-container {
    background-color: black;
    color: wheat;
    Width: 1440px;
    Height: 177px;
    text-align: center;
    justify-content: center;
}

.humble-container h3 {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #FF5959;
    margin-bottom: 24px;
}